---
---

h1{
    margin-bottom: 3rem;
    padding-bottom: .5rem;
    border-bottom: 1px solid #ebebeb;
}

blockquote{
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 2rem;
    background-color: #f9f9f9;
}
img[alt=Bradypus] { width: 200px; }
img[alt=screenshot] { 
    max-width: 100% !important;
    margin: 2rem;
    box-shadow: 0 0 1rem rgb(94, 94, 94);
}


.hljs-ln-numbers {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    text-align: center;
    border-right: 1px solid #999;
    vertical-align: top;
    padding-right: 1rem !important;

    /* your custom style here */
}

/* for block of code */
.hljs-ln-code {
    padding-left: 1rem !important;
}